<br />
<a href="#"
  ><button type="button" class="btn btn-outline-secondary mb-5">
    Trend Masa Kini
  </button></a
>
<h1>Temukan Puisi-Puisi Terbaik Trend Masa Kini</h1>

<div class="artikel-index mt-5">
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      Puisi Romantis Untuk Pacar Yang Bikin Baper <br />
      <span class="abu-abu">Edukasi</span>
    </p></a
  >
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      Puisi Islami Penyejuk Hati Terbaik Tahun 2024<br />
      <span class="abu-abu">Edukasi</span>
    </p></a
  >
  <a href="edukasi/puisi/puisinatal" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      10 Puisi Natal Terbaik dan Terbaru Tahun 2024 <br />
      <span class="abu-abu">Edukasi</span>
    </p></a
  >
</div>

<div class="artikel mt-4">
  <h5>Lihat Artikel Lainnya</h5>
  <a href="#" class="hover-membesar">
    <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
    10 Film terbaik sepanjang masa yang tidak dimakan usia</a
  >
  <a href="#" class="hover-membesar">
    <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
    Cara menambah tinggi badan usia 12-19 tahun</a
  >
  <a href="#" class="hover-membesar">
    <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
    Aneka resep makanan tradisional yang paling digemari</a
  >
</div>
