<br />
<br />
<a href="edukasi/puisinatal"
  ><button type="button" class="btn btn-outline-secondary">
    Puisi Natal Terbaru
  </button></a
>
<div class="top">
  <div class="judul">
    <h1>Puisi Natal Terbaru, 10 Puisi Natal Yang Paling Populer Tahun 2024</h1>
    <h5>Virginia Grafirat Losa</h5>
    <h6 class="abu-abu">12 November 2024</h6>
    <p class="fw-bold bold abu-abu">
      <span></span> Share.....
      <i class="fas fa-envelope"> </i>
      <i class="fas fa-home"></i>
      <i class="fab fa-twitter"></i>
    </p>
  </div>
  <div class="saran-artikel">
    <h4 class="text-left">Artikel Terbaru</h4>
    <a href="#">
      <img src="img/tambing.jpg" alt="Puisi Natal Terbaru" />
      <p>Yuk lihat keindahnya Puisi Natal Terbaru, Pulau di Jakarta</p></a
    >
    <a href="#">
      <img src="img/reconnect.jpg" alt="Puisi Natal Terbaru" />
      <p>Pantai yang paling banyak dikunjungi di Pulau Bali</p></a
    >
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="Puisi Natal Terbaru" />
      <p>Makanan khas Sulawesi yang paling enak menurut para Traveller</p></a
    >
  </div>
</div>

<main>
  <img src="img/bambahano.jpg" alt="pantai bambahano pantai bambaranu" />
  <h3>Kami ucapkan shaloom bagi saudara-saudara yang terkasih</h3>
  <h3>10 Puisi Natal Terbaru dan Terbaik Saat Ini</h3>

  <p class="mt-3">
    Puisi adalah salahsatu bentuk karya sastra dengan penggunaan bahasa yang
    diberi irama dengan pemilihan kata-kata imaninasi dan penuh makna sesuai
    keinginan penulis.
  </p>
  <p>
    Puisi Natal adalah puisi yang digunakan untuk keperluan Natal. Perayaan
    Natal merupakan perayaan terbesar bagi umat Kristen di seluruh dunia, banyak
    sekali kegiatan dan perlombaan ketika Natal tiba, untuk melengkapi berbagai
    kegiatan dan perlombaan sering kali puisi menjadi pilihan yang sering
    digunakan. Banyak perlombaan membaca puisi dilakukan disaat merayakan Natal
  </p>
  <h5 class="bold">Berikut 10 Puisi Natal Terbaru Tahun 2024</h5>
  <div class="puisi mt-4">
    <h5 class="bold mt-4">Harapan Baru di Hari KelahiranNya</h5>
    <p>
      Di malam kudus penuh bahagia
      <br />
      Nyayian malaikat terdengar menggema
      <br />
      sampaikan berita suci mulai
      <br />
      marilah sambut kedatangan Sang Raja
    </p>
    <p>
      kita rayakan KelahiranNya
      <br />
      Telah datang kasih yang tak' terhingga
      <br />
      Di hari yang indah penuh makna
      <br />
      Dia bawa terang bagi dunia
    </p>
    <p>
      Mari bersyukur dan bergembira
      <br />
      di hari Natal yang mempesona
      <br />
      Sang bayi mungil membawa sukacita
      <br />
      Ada harapan baru bagi dunia
    </p>
    <p>
      Dia bawa hati yang penuh cinta
      <br />
      Terpancar harapan yang membara
      <br />
      Menyinari jalan bagi jiwa
      <br />
      Sampaikan pesan kasih yang terbuka
    </p>
    <p>
      Harapan baru yang tiada tara
      <br />
      Dia datang bawa damai sejahtera
      <br />
      Surga dan dunia bergelora
      <br />
      Untuk menyambut kedatanganNya
    </p>

    <h5 class="bold mt-5">Tawa Bahagia di Malam Natal</h5>
    <p>
      Di malam natal yang penuh kehangatan
      <br />
      Suara bahagia di sepanjang jalan
      <br />
      Mengusir sepi dengan kegembiraan
      <br />
      Mengisi malam dengan keceriaan
    </p>
    <p>
      Keluarga berkumpul merayakan
      <br />
      Bercanda tawa yang tak terlupakan
      <br />
      Berbagi kasih yang tak berkesudahan
      <br />
      Di malam natal yang penuh kedamaian
    </p>
    <p>
      Suara menyatu dengan Nyayian
      <br />
      Dengan melodi penuh ketenangan
      <br />
      Bayi yang lahir dalam palungan
      <br />
      Mengisi malam dalam kemuliaan
    </p>
    <p>
      Terdengar riuh suara kebersamaan
      <br />
      Di dalam rumah ada harapan
      <br />
      Dengan cinta dan kebersamaan
      <br />
      Menyembah Dia dengan nyayian
    </p>

    <h5 class="bold mt-5">Mengusir Gelap</h5>
    <p>
      Dalam gelap hampir binasa
      <br />
      Dunia dipenuhi oleh sengsara
      <br />
      Hidup terasa menjadi hampa
      <br />
      Terdengar getar di dalam dada
    </p>
    <p>
      Ada kekosongan yang menyiksa
      <br />
      Terdengar gemuruh sesatkan jiwa
      <br />
      Awan gelap yang terasa
      <br />
      Hilangkan gelap bagi manusia
    </p>
    <p>
      Dia datang menjadi cahaya
      <br />
      Yang menerangi insan dunia
      <br />
      Datang harapan bagi jiwa
      <br />
      Usir gelisah yang menyiksa
    </p>
    <p>
      Setiap gelap jadi tiada
      <br />
      Hilangkan semua luka dan lara
      <br />
      Dengan kasih tiada tara
      <br />
      Sungguh mulia Tuhan kita
    </p>
    <p>
      Dia datang dengan Hina
      <br />
      Untuk tebus segala dosa
      <br />
      Agar selamat semua manusia
      <br />
      Mari bersorak bersukacita
    </p>

    <h5 class="bold mt-5">Gemerlapnya Natal</h5>
    <p>
      Lampu natal mulai bergemelapan
      <br />
      Terdengar suara musik riang gembira
      <br />
      Sudut kota penuh dengan cemerlang
      <br />
      Lampu di desa mulai berkelipan
    </p>
    <p>
      Tersudut kisah di sebuah desa
      <br />
      Mahluk Tuhan yang penuh derita
      <br />
      Mencari cerita penuh keindahan
      <br />
      Untuk merayakan natal bagi dirinya
    </p>
    <p>
      Kicauan senyum penuh tipuan
      <br />
      Membuat hati kian tak terkira
      <br />
      Tak ada daya untuk bergembira
      <br />
      Melihat Natal yang telah datang
    </p>
    <p>
      Luka lara tanpa hadiah
      <br />
      Seakan Natal tak ada makna <br />
      Dimanakah mereka yang memberi makna
      <br />
      Melihat kisah yang tak terlihat
    </p>
    <p>
      Adakah kita mencari makna
      <br />
      Atau hanya sekedar membuat cerita
      <br />
      Merayakan Natal tanpa berkenan
      <br />
      Melihat derita saudara seiman
    </p>
    <p>
      Hadiah natal penuh kilauan
      <br />
      Menyilaukan mata pada keadaan
      <br />
      Saudara kita yang lama menderita
      <br />
      Mencari mata yang penuh keceriaan
    </p>
    <p>
      Kiranya Natal memberi makna <br />
      Sebuah harapan yang penuh keindahan
      <br />
      Membagikan ceria pada mereka yang menderita
      <br />
      Meringankan derita saudara seiman
    </p>
    <p>
      Natal indah bagi semua
      <br />
      Harapan kisah berbagi ceria
      <br />
      Melihat kota penuh kebagiaan
      <br />
      Setiap sudut desa penuh sukacita
    </p>
    <p>
      Selamat Natal bagi kita semua
      <br />
      Mari berbagi makna penuh kebahagiaan <br />
      Natal bukan sekedar pesta pora <br />
      Melainkan hidup berbagi makna
    </p>

    <h5 class="bold mt-5">Telah Datang Kemenangan</h5>
    <p>
      Di malam kudus, sunyi dan tenang
      <br />
      Sang bayi mungil telah datang
      <br />
      Membawa damai dan juga terang
      <br />
      Sinari hati dengan gemilang
    </p>
    <p>
      Di awan gelap bertabur bintang
      <br />
      Dengan kasihnya kita menang
      <br />
      Hingga dunia yang sedang remang
      <br />
      Menjadi terang dengan cemerlang
    </p>
    <p>
      Bersorak-sorai dengan riang
      <br />
      Sirami hati yang sedang gersang
      <br />
      Hilangkanlah ragu dan bimbang
      <br />
      Dengan musik yang berdendang
    </p>
    <p>
      Biarlah hati menjadi tenang
      <br />
      Karena Penebus telah datang
      <br />
      Semua manusia menjadi senang
      <br />
      Seluruh bumi mari bergirang
    </p>

    <p>Puisi Natal keenam sampai kesepuluh silahkan klik link dibawah ini</p>
  </div>
  <a href="edukasi/puisi/puisinatal2" class="text-decoration-none"
    ><p class="bold biru hover-membesar">Puisi Natal Selanjutnya >></p></a
  >

  <div class="artikel mt-4">
    <h5>Lihat Artikel Lainnya</h5>
    <a href="#">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Drama Natal Terbaik Saat Ini Indonesia Raya di Dunia</a
    >
    <a href="#">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Drama Natal Terbaik Saat Ini Indonesia</a
    >
    <a href="#">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Drama Natal Terbaik Saat Ini Indonesia</a
    >
  </div>
</main>
