<br />
<a href="edukasi/puisinatal"
  ><button type="button" class="btn btn-outline-secondary">
    Puisi Lainnya
  </button></a
>
<div class="top">
  <div class="judul">
    <h1>Puisi Natal Terbaru, 10 Puisi Natal Yang Paling Populer Tahun 2024</h1>
    <h5>Virginia Grafirat Losa</h5>
    <h6 class="abu-abu">12 November 2024</h6>
    <p class="fw-bold bold abu-abu">
      <span></span> Share.....
      <i class="fas fa-envelope"> </i>
      <i class="fas fa-home"></i>
      <i class="fab fa-twitter"></i>
    </p>
  </div>
  <div class="saran-artikel">
    <h4 class="text-left">Artikel Terbaru</h4>
    <a href="#">
      <img src="img/tambing.jpg" alt="Puisi Natal Terbaru" />
      <p>Yuk lihat keindahnya Puisi Natal Terbaru, Pulau di Jakarta</p></a
    >
    <a href="#">
      <img src="img/reconnect.jpg" alt="Puisi Natal Terbaru" />
      <p>Pantai yang paling banyak dikunjungi di Pulau Bali</p></a
    >
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="Puisi Natal Terbaru" />
      <p>Makanan khas Sulawesi yang paling enak menurut para Traveller</p></a
    >
  </div>
</div>

<main>
  <img src="img/bambahano.jpg" alt="pantai bambahano pantai bambaranu" />
  <h3>Kami ucapkan shaloom bagi saudara-saudara yang terkasih</h3>
  <h3>10 Puisi Natal Terbaru dan Terbaik Saat Ini</h3>

  <p class="mt-3">
    Puisi adalah salahsatu bentuk karya sastra dengan penggunaan bahasa yang
    diberi irama dengan pemilihan kata-kata imaninasi dan penuh makna sesuai
    keinginan penulis.
  </p>
  <h5 class="bold">Berikut 10 Puisi Natal Terbaru Tahun 2024</h5>
  <div class="puisi mt-4">
    <h5 class="bold">Menyembah Sang Putra Natal</h5>
    <p>
      Bergembiralah wahai dunia
      <br />
      Menyambut kelahiran sang putra Natal
      <br />
      Seorang bayi telah lahir untuk kita
      <br />
      Membabaskan manusia dari belenggu dosa
    </p>

    <p>
      Terdengar suara sukacita dari para gembala
      <br />
      Mendapat kabar indah dari malaikat
      <br />
      Begitu mulia kedatanganNya
      <br />
      Sang Juruselamat bagi manusia
    </p>

    <p>
      Hai lihatlah para orang Majus
      <br />
      Datang menyembah Sang putra natal
      <br />
      Membawa kemenyan, emas, dan mur
      <br />
      Untuk dipersembahkan pada Juruselamat
    </p>

    <p>
      Kini waktunya kita datang menyembah
      <br />
      Merayakan natal untuk kelahiranNya
      <br />
      Mari bersorak dan bernyanyi bagiNya
      <br />
      Memulai ibadah dengan sukacita
    </p>

    <h5 class="bold mt-5">Sang Terang</h5>
    <p>
      Saat dunia dalam kegelapang <br />
      Saat semua terasa hampa <br />
      Saat seakan tak ada harapan
      <br />
      Terang itu datang
    </p>
    <p>
      Dalam kegelapan malam
      <br />
      Di sebuah kandang yang hina
      <br />
      Dia, Sang Terang telah lahir
      <br />
      Dia adalah Immanuel
    </p>
    <p>
      Suara tangisan bayi malam itu
      <br />
      Adalah tanda keselamatan <br />
      Manusia bersukacita
      <br />
      Karena terang kini telah hadir
    </p>
    <p>
      Terang itu adalah hadiah terindah
      <br />
      Kasih yang mulia, kasih yang tulus
      <br />
      Kasih tanpa batas
      <br />
      Itulah Sang Terang Yesus Kristus
    </p>

    <h5 class="bold mt-5">Kasih Terindah</h5>
    <p>
      Kasih...
      <br />
      Dimanakah kasih? Peperangan, pertikaian, perselisihan, itulah dunia
      <br />
      Damai...
      <br />
      Dimanakah kedamaian? Dimanakah dikau?
    </p>
    <p>
      Telah kucari kemana jua
      <br />
      Tak kunjung ku bertemu
      <br />
      Hati terasa hampa, akankah kubertemu dengan ketulusan
      <br />
      Dimana? Dimana? Dan Dimana? hati ini menjerit seakan tak mampu bertahan
      lagi
    </p>
    <p>
      Ditengah kegelapan malam, bulan dan bintang berlomba menyinari
      <br />
      Kuteringat akan kasih itu, yahh benar kasih...
      <br />
      Kabar sukacita menyelimuti hati yang hampa
      <br />
      Ketika aku menyadari kasih itu adalah Dikau...
    </p>
    <p>
      Sang Raja, Sang Mesias, Sang Penguasa Segalanya, rela menjadi manusia yang
      hina <br />
      Kasih, yahh Kau benar-benar kasih. Kasih yang tak dapat ku balas
      <br />
      Malam yang dingin di kandang yang hina, Kau merendahkan diriMu menjadi
      miskin demi manusia menjadi kaya
      <br />
      Siapakah kita? Dimanakah kita?
    </p>
    <p>
      Kau datang, tetapi Kau ditolak
      <br />
      Kau memberikan kasih itu, tapi apa yang Kau dapatkan?
      <br />
      Hinaan, cacian, dan siksaan, bayi yang lahir itu, hanya datang untuk mati
      <br />
      Apakah Kau membenci? Tidak, Kau tak pernah membenci, tak sedikitpun
      kebencian di hati-Mu
    </p>
    <p>
      Natal...
      <br />
      Natal adalah tentang kasih
      <br />
      Kasih yang tak terhingga
      <br />
      Kasih yang tak menuntut balas
      <br />
      Hati menjadi riang gembira, kini kutemukan kasih itu
      <br />
      Karna kasih itu aku selamat.
    </p>

    <h5 class="bold mt-5">Damai sejahtera bagi dunia</h5>
    <p>
      Banyak jiwa terasa hampa
      <br />
      Beradu dalam kerasnya dunia
      <br />
      Hidup adalah perjalanan
      <br />
      Bagaikan sebuah persinggahan saja
    </p>
    <p>
      Apa sajakah yang kita cari
      <br />
      Kedamaian hatilah yang di cari
      <br />
      Namun, dimana kedamaian itu
      <br />
      Tak kunjung jua ku bertemu
    </p>
    <p>
      Hari natal telah tiba
      <br />
      Lonceng natal telah berbunyi
      <br />
      Damai sejahtera yang Dia bawa
      <br />
      Sejukkan hati seluruh dunia
      <br />
      Dimanakah kedamaian?
      <br />
      Hanya Dialah kedamaian
    </p>

    <h5 class="bold mt-5">Hadiah Natal Sesungguhnya</h5>
    <p>
      Apakah arti natal?
      <br />
      Apakah hanya tentang hadiah?
      <br />
      Apakah hanya tentang makanan
      <br />
      Apakah hanya perayaan belaka?
    </p>
    <p>
      Natal... yang terpikirkan hanyalah kebahagiaan
      <br />
      Tanpa tersadar akan arti kelahiran itu
      <br />
      Dia lahir menjadi manusai, Dia mati untuk manusia
      <br />
      Manusia yang harusnya binasa, dibayar lunas dengan darahNya
    </p>

    <p>
      Natal adalah sebuah hadiah terindah
      <br />
      Hadiah dari Bapa di surga
      <br />
      Hadiah terindah keselamatan
      <br />
      Renungkanlah natal itu, tentang arti kelahiranNya
    </p>
  </div>
  <a href="edukasi/puisi/puisinatal" class="text-decoration-none"
    ><p class="bold text-decoration-none biru hover-membesar">Kembali</p></a
  >

  <div class="artikel mt-4">
    <a href="#">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Drama Natal Terbaik Saat Ini Indonesia Raya di Dunia</a
    >
    <a href="#">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Drama Natal Terbaik Saat Ini Indonesia</a
    >
    <a href="#">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Drama Natal Terbaik Saat Ini Indonesia</a
    >
  </div>
</main>
