<br />
<a href="#"
  ><button type="button" class="btn btn-outline-secondary mb-5">
    Trend Masa Kini
  </button></a
>
<h1>Trend Masa Kini</h1>

<h3 class="bold mt-4">Kesehatan Bayi</h3>

<div class="top mt-3">
  <div class="content-top">
    <a
      href="Ayah-Bunda/tentang-bayi/Gizi-yang-dibutuhkan-bayi-pada-usia-0-bulan-sampai-12-bulan"
      ><img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Gizi yang dibutuhkan bayi pada usia 0 bulan sampai 12 bulan <br />
        <span class="abu-abu fs-6">Ayah-Bunda</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a
      href="Ayah-Bunda/tentang-bayi/Dampak-positif-negatif-menjemur-bayi-menurut-para-ahli"
    >
      <img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Dampak positif negatif menjemur bayi, menurut para ahli <br />
        <span class="abu-abu fs-6">Ayah-Bunda</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a
      href="Ayah-Bunda/tentang-bayi/Apa-yang-harus-dilakukan-agar-bayi-tumbuh-sehat-dan-cerdas"
      ><img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Apa yang harus dilakukan agar bayi tumbuh sehat dan cerdas?
        <br />
        <span class="abu-abu fs-6">Ayah-Bunda</span>
      </h2></a
    >
  </div>
</div>
<h3 class="bold mt-4">Anak Sekolahan</h3>
<div class="top mt-3">
  <div class="content-top">
    <a
      href="edukasi/Tips-cara-mudah-mengerjakan-PR,-dijamin-jawabannya-benar-100%"
    >
      <img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Tips cara mudah mengerjakan PR, dijamin jawabannya benar 100% <br />
        <span class="abu-abu fs-6">Edukasi</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a
      href="edukasi/tips&trik/Cara-untuk-meningkatkan-fokus-saat-belajar-dapatkan-nilai-terbaik"
    >
      <img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Cara untuk meningkatkan fokus saat belajar | dapatkan nilai terbaik
        <br />
        <span class="abu-abu fs-6">Edukasi</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a
      href="edukasi/tips&trik/Makanan-yang-bisa-membuat-kamu-menjadi-lebih-cerdas"
      ><img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Makanan yang bisa membuat kamu menjadi lebih cerdas <br />
        <span class="abu-abu fs-6">Edukasi</span>
      </h2></a
    >
  </div>
</div>
<h3 class="bold mt-4">Pengembangan Diri</h3>
<div class="top mt-3">
  <div class="content-top">
    <a
      href="edukasi/Self-improvement/3-Kecerdasan-yang-harus-dikuasai,-jika-kamu-ingin-sukses"
    >
      <img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        3 Kecerdasan yang harus dikuasai, jika kamu ingin sukses <br />
        <span class="abu-abu fs-6">Self-improvement</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a
      href="edukasi/Self-improvement/Hal-yang-wajib-kamu-ketahui-saat-pertama-kali-masuk-kerja"
      ><img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Hal yang wajib kamu ketahui saat pertama kali masuk kerja
        <br />
        <span class="abu-abu fs-6">Self-improvement</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a href="#"
      ><img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Kebiasaan dan pola pikir pengusaha terkemuka di dunia <br />
        <span class="abu-abu fs-6">Self-improvement</span>
      </h2></a
    >
  </div>
</div>
<h3 class="bold mt-4">Teknologi</h3>
<div class="top mt-3">
  <div class="content-top">
    <a href="#"
      ><img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Cara memahami dan memanfaatkan Artificial Intelegent (AI) <br />
        <span class="abu-abu fs-6">Teknologi</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a href="#"
      ><img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Apa perbedaan Intel vs AMD, dan manakah yang lebih baik?
        <br />
        <span class="abu-abu fs-6">Teknologi</span>
      </h2></a
    >
  </div>
  <div class="content-top">
    <a href="#">
      <img src="img/tambing.jpg" alt="" />
      <h2 class="fs-5 text-justify">
        Cara mengamankan data, agar tidak mudah dicuri orang lain <br />
        <span class="abu-abu fs-6">Teknologi</span>
      </h2></a
    >
  </div>
</div>

<div class="content-index">
  <h4>Cara mudah mengerjakan PR untuk</h4>
</div>

<div class="artikel-index mt-5">
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      10 Dongeng pengantar tidur untuk anak <br />
      <span class="abu-abu">Ayah-Bunda</span>
    </p></a
  >
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      Puisi romantis untuk pacar yang bikin baper <br />
      <span class="abu-abu">Edukasi</span>
    </p></a
  >
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      10 susu peninggi badan terbaik dan terlaris di Indonesia <br />
      <span class="abu-abu">Self-improvement</span>
    </p></a
  >
</div>
<div class="artikel-index mb-5 mt-5">
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      Obat jerawat alami paling ampuh yang ada di sekitar kita <br />
      <span class="abu-abu">Healhty</span>
    </p></a
  >
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      15 sunscreen terbaik dan cocok untuk semua kulit <br />
      <span class="abu-abu">Healhty</span>
    </p></a
  >
  <a href="#" class="hover-membesar"
    ><img src="img/tambing.jpg" alt="" class="artikel-img" />
    <p>
      Rekomendasi nama dengan arti terbaik dalam bahasa Inggris <br />
      <span class="abu-abu">Ayah-Bunda</span>
    </p></a
  >
</div>

<h2>Sorotan Terbaru</h2>

<div class="top mt-3">
  <div class="content-4">
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="" />
      <h3>
        10 Lagu Islami terbaik dan terpopuler di Indonesia
        <h3 class="abu-abu fs-7">Edukasi</h3>
      </h3>
    </a>
  </div>
  <div class="content-4">
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="" />
      <h3>
        20 Lagu bertemakan Paskah bahasa Indonesia
        <h3 class="abu-abu fs-7">Edukasi</h3>
      </h3>
    </a>
  </div>
  <div class="content-4">
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="" />
      <h3>
        Pengaruh jenis tanah pada pertumbuhan tanaman
        <h3 class="abu-abu fs-7">Edukasi</h3>
      </h3>
    </a>
  </div>
  <div class="content-4">
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="" />
      <h3>
        Menu sarapan pagi yang sehat dan bergizi
        <h3 class="abu-abu fs-7">Healhty</h3>
      </h3>
    </a>
  </div>
</div>

<div class="artikel mt-4">
  <h5>Lihat Artikel Lainnya</h5>
  <a href="#" class="hover-membesar">
    <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
    10 Film terbaik sepanjang masa yang tidak dimakan usia</a
  >
  <a href="#" class="hover-membesar">
    <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
    15 susu formula untuk anak sesuai jenjang usia anak</a
  >
  <a href="#" class="hover-membesar">
    <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
    Aneka resep makanan tradisional yang paling digemari</a
  >
</div>
