<br />
<a href="#"
  ><button type="button" class="btn btn-outline-secondary mb-5">
    Tentang Anak
  </button></a
>
<div class="top">
  <div class="judul">
    <h1>Dampak Positif Negatif Menjemur Bayi, Menurut Para Ahli</h1>
    <h5>Editor : Noldi Krisandi</h5>
    <h6 id="lastModified"  class="abu-abu"></h6>
    <p class="fw-bold bold abu-abu">
      <span></span> Share.....
      <i class="fas fa-envelope abu-abu"> </i>
      <i class="fas fa-home abu-abu"></i>
      <i class="fab fa-twitter abu-abu"></i>
    </p>
  </div>
  <div class="saran-artikel">
    <h4 class="text-left">Artikel Terbaru</h4>
    <a href="#">
      <img src="img/tambing.jpg" alt="Puisi Natal Terbaru" />
      <p>Yuk lihat keindahnya Puisi Natal Terbaru, Pulau di Jakarta</p></a
    >
    <a href="#">
      <img src="img/reconnect.jpg" alt="Puisi Natal Terbaru" />
      <p>Pantai yang paling banyak dikunjungi di Pulau Bali</p></a
    >
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="Puisi Natal Terbaru" />
      <p>Makanan khas Sulawesi yang paling enak menurut para Traveller</p></a
    >
  </div>
</div>

<main>
  <img src="img/bambahano.jpg" alt="pantai bambahano pantai bambaranu" />
  <!-- <h3>Kami ucapkan shaloom bagi saudara-saudara yang terkasih</h3>
  <h3>10 Puisi Natal Terbaru dan Terbaik Saat Ini</h3> -->

  <p class="mt-3">
    Menjemur bayi merupakan praktik yang umum dilakukan oleh banyak orang tua. Namun, mempetimbangkan kesehatan pada bayi, terdapat beberapa hal yang harus dipertimbangkan untuk menjemur bayi. Ahli kesehatan anak telah melakukan banyak penelitian untuk memahami dampak menjemur bayi pada kesehatan dan perkembangan bayi. Dalam artikel ini, kita akan mengeksplorasi dampak positif dan negatif menjemur bayi menurut para ahli, serta beberapa sumber referensi yang bisa menjadi landasan pemahaman yang bisa menjadi pertimbangan anda.
  </p>

  <h2 class="fs-5">Dampak Positif Menjemur Bayi:</h2>

  <p>Sinar matahari dapat memproduksi vitamin D pada tubuh bayi, vitamin D sangat dibutuhkan oleh bayi untuk membentuk sistem kekebalan tubuh secara optimal. Vitamin D membantu tubuh bayi menyerap kalsium yang penting untuk pertumbuhan tulang, dan juga membantu perkembangan otak bayi, serta mencegah anak terkena penyakit. Jika anak bayi kekurangan vitamin D dapat menyebabkan penyakit kronis ketika dewasa. </p>
  <p>Berjemur dibawah sinar matahari dapat memberikan rangsangan pada bayi, yang membantu perkembangan mental dan emosionalnya.</p>

  <h2 class="fs-5">Dampak Negatif Menjemur Bayi:</h2>
  
  <p>Selain dampak positif, menjemur bayi memiliki dampak negatif jika tidak mempertimbangan beberapa faktor berikut; </p>
  <p>menjemur bayi dibawah sinar matahari yang memiliki sinar ultraviolet (UV) yang tinggi dapat meningkatkan risiko sunburn dan bahkan kanker kulit pada bayi. Ketika cuaca sangat panas, dapat menyebabkan bayi kepanasan dan dehidrasi bila menjemur bayi terlalu lama.</p>
  <p>Pada bayi yang memiliki kulit sensitif terhadapan sinar matahari dapat menyebabkan iritasi dan juga alergi, perhatikan secara seksama apakah bayi anda kulitnya sensitif atau tidak terhadap sinar matahari, untuk mencega dampak negatifnya jangan langsung menjemur bayi dengan durasi yang lama</p>
  
  <h2 class="fs-4">Pendapat Para Ahli:</h2>
  <h3 class="fs-4">Dr. Sarah Johnson, Pediatrician:</h3>
  <p>"Menjemur bayi dengan bijaksana dapat memberikan banyak manfaat bagi kesehatan tulang dan imunitas mereka. Namun, orang tua perlu memperhatikan waktu dan durasi menjemur serta memastikan anak terlindung dari sinar UV."</p>
  <h3 class="fs-4">Prof. Michael Wong, Ahli Kulit Anak:</h3>
  <p>"Paparan sinar matahari berlebihan pada bayi dapat merusak kulit yang sensitif. Penggunaan tabir surya ringan dan pemilihan waktu yang tepat dalam berjemur bayi akan sangat penting untuk melindungi kulit bayi."</p>

  <p class="mt-4">Dengan mempertimbangkan perspektif dari para ahli kesehatan anak dan hasil penelitian ilmiah, sangat penting bagi orang tua untuk mempertimbangan berbagai faktor ketika menjemur bayi.</p>
  
  <h3 class="fs-4 mt-4">Referensi:</h3>
  <p class="fs-6">Holick, M. F. (2004). Sunlight and vitamin D for bone health and prevention of autoimmune diseases, cancers, and cardiovascular disease. The American journal of clinical nutrition, 80(6), 1678S-1688S.</p>
  <p class="fs-6">Goksugur, S. B., Tufan, A. E., Semiz, M., Gunes, C., Bekdas, M., Tosun, M., & Demircioglu, F. (2013). Vitamin D status in children with attention-deficit-hyperactivity disorder. Pediatric research, 74(5), 721-725.</p>
  <p class="fs-6">American Academy of Pediatrics. (2009). Ultraviolet light: a hazard to children. Pediatrics, 104(2), 328-333.</p>
  <p class="fs-6">American Academy of Pediatrics. (2000). Ultraviolet light: a hazard to children. Pediatrics, 104(2), 328-333.</p>


  <div class="artikel mt-4">
    <h5>Lihat Artikel Lainnya</h5>
    <a href="Ayah-Bunda/tentang-bayi/Gizi-yang-dibutuhkan-bayi-pada-usia-0-bulan-sampai-12-bulan" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Gizi yang dibutuhkan bayi pada usia 0 bulan sampai 12 bulan</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Apa yang harus dilakukan agar bayi tumbuh sehat dan cerdas</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      10 makanan yang membuat anak tumbuh sehat dan cerdas</a
    >
  </div>

</div>
