<br />
<a href="#"
  ><button type="button" class="btn btn-outline-secondary mb-5">
    Tentang Anak
  </button></a
>
<div class="top">
  <div class="judul">
    <h1>Gizi yang dibutuhkan bayi pada usia 0 bulan sampai 12 bulan</h1>
    <h5>Editor : Noldi Krisandi</h5>
    <h6 id="lastModified"  class="abu-abu"></h6>
    <p class="fw-bold bold abu-abu">
      <span></span> Share.....
      <i class="fas fa-envelope abu-abu"> </i>
      <i class="fas fa-home abu-abu"></i>
      <i class="fab fa-twitter abu-abu"></i>
    </p>
  </div>
  <div class="saran-artikel">
    <h4 class="text-left">Artikel Terbaru</h4>
    <a href="#">
      <img src="img/tambing.jpg" alt="Puisi Natal Terbaru" />
      <p>Yuk lihat keindahnya Puisi Natal Terbaru, Pulau di Jakarta</p></a
    >
    <a href="#">
      <img src="img/reconnect.jpg" alt="Puisi Natal Terbaru" />
      <p>Pantai yang paling banyak dikunjungi di Pulau Bali</p></a
    >
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="Puisi Natal Terbaru" />
      <p>Makanan khas Sulawesi yang paling enak menurut para Traveller</p></a
    >
  </div>
</div>

<main>
  <img src="img/bambahano.jpg" alt="pantai bambahano pantai bambaranu" />
  <!-- <h3>Kami ucapkan shaloom bagi saudara-saudara yang terkasih</h3>
  <h3>10 Puisi Natal Terbaru dan Terbaik Saat Ini</h3> -->

  <p class="mt-3">
    Memastikan asupan gizi yang mencukupi merupakan kunci utama untuk mendukung pertumbuhan bayi secara optimal. Nutrisi yang tepat dapat membantu membangun fondasi yang kuat bagi kesehatan dan perkembangan sang buah hati. Dengan memperhatikan makanan yang kaya akan vitamin, mineral, dan nutrisi penting lainnya, Anda dapat membantu buah hati anda tumbuh dan berkembang dengan baik.
  </p>

  <p>
    Asupan Gizi bayi harus disesuikan dengan angka kecukupan gizi (AKG) sehingga tumbuh kembang bayi menjadi optimal, baik tumbuh secara kesehatan fisik, mental, dan kecerdasan bayi.
  </p>
  <p>
    Terkadang kita sebagai orang tua bingung dengan nutrisi apa yang paling penting untuk bayi kita, ditambah lagi isu stunting. Pastikan asupan gizi bayi tercukupi untuk mencegah stunting pada anak.
  </p>

  <h2 class="fs-5">Berikut asupan gizi yang dibutuhkan bayi pada usia 0 bulan sampai 12 bulan</h2>

  <h3 class="fs-4">1. Protein</h3>
  <p>Protein adalah zat gizi yang berfungsi untuk memperbaiki sel-sel yang rusak sehingga cepat beregenerasi dan juga meningkatkan kekebalan tubuh bayi. Pada bayi 0-6 bulan memdapatkan protein dari air susu ibu (ASI) tetapi ketika bayi mulai 6 bulan keatas membutuhkan makanan pendamping ASI. Protein yang paling baik untuk makanan pendamping ASI adalah protein hewani, yang bisa didapatkan pada daging sapi, telur, hati ayam, ikan lele, dan ikan gabus. Protein hewani sangat penting agar anak tidak mengalami stunting, pastikan bayi anda mendapatkan asupan gizi protein hewani yang cukup. </p>

  <h3 class="fs-4">2. Karbohidrat</h3>
  <p>Karbohidrat merupakan zat gizi utama untuk tubuh mendapatkan energi, pastikan bayi anda mendapatkan asupan gizi karbohidrat yang cukup sehingga bayi anda energik dan tidak mudah lelah. Anda dapat menemukan kandungan karbohidrat yang baik untuk bayi pada pisang, kentang, dan kacang-kacangan sebagai makanan pendamping ASI </p>

  <h3 class="fs-4">3. Lemak</h3>
  <p>Lemak memiliki berbagai jenis, seperti asam lemak omega-3 dan omega-6, sangat penting untuk perkembangan otak bayi. Asam lemak omega-3 dan omega-6 ini membantu dalam pembentukan membran sel saraf dan meningkatkan fungsi kognitif serta penglihatan. Anda dapat menemukan kandungan lemak yang baik untuk bayi pada minyak ikan, avokad, kacang-kacangan, dan biji-bijian</p>

  <h3 class="fs-4">4. Vitamin</h3>
  <p>Vitamin merupakan zat gizi yang memiliki berbagai jenis, Vitamin A berguna untuk kesehatan mata dan kekebalan tubuh, sedankan vitamin D sangat penting untuk pertumbuhan tulang dan gigi yang sehat. Vitamin D juga berperan dalam regulasi sistem kekebalan tubuh, dan Vitamin B berperan dalam metabolisme energi tubuh, sintesis DNA, dan fungsi sistem saraf. Vitamin yang baik untuk bayi bisa anda dapatkan pada wortel, brokoli, bayam, dan tomat.</p>

  <P class="mt-4">Pentingnya memenuhi gizi yang dibutuhkan oleh bayi tidak hanya sekedar berdampak pada pertumbuhan dan perkembangan fisiknya, tetapi juga memiliki dampak yang signifikan terhadap kesehatan jangka panjangnya. Memastikan bayi mendapatkan nutrisi yang tepat sesuai jenjang usianya akan membantu dalam membangun sistem kekebalan tubuhnya, mengoptimalkan perkembangan otak, dan mencegah risiko penyakit kronis di masa dewasa.</P>

  <div class="artikel mt-4">
    <h5>Lihat Artikel Lainnya</h5>
    <a href="Ayah-Bunda/tentang-bayi/Dampak-positif-negatif-menjemur-bayi-menurut-para-ahli" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Dampak positif negatif menjemur bayi, menurut para ahli</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Apa yang harus dilakukan agar bayi tumbuh sehat dan cerdas</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      10 makanan yang membuat anak tumbuh sehat dan cerdas</a
    >
  </div>

</div>


