<div class="container">
  <div class="content">
    <br />
    <a href="#"
      ><button type="button" class="btn btn-outline-secondary mb-5">
        Trend Masa Kini
      </button></a
    >
    <h1>Kesehatan Remaja Trend Masa Kini</h1>

    <p class="mt-4 fs-5">
      Masa remaja adalah masa awal mencari jati diri, ini juga merupakan masa
      pubertas sehingga memiliki berbagai masalah kesehatan yang harus dihadapi
      termasuk awal munculnya jerawat, dibawah ini artikel yang sangat berguna
      demi menjaga kesehatan remaja
    </p>

    <div class="artikel-index mt-3">
      <a href="#" class="hover-membesar"
        ><img src="img/tambing.jpg" alt="" class="artikel-img" />
        <p>
          Penyebab Tumbuhnya Jerawat dan Cara Mengatasinya <br />
          <span class="abu-abu">Healhty</span>
        </p></a
      >
      <a href="#" class="hover-membesar"
        ><img src="img/tambing.jpg" alt="" class="artikel-img" />
        <p>
          10 Rekomendasi Obat Penghilang Jerawat Terbaik <br />
          <span class="abu-abu">Healhty</span>
        </p></a
      >
      <a href="#" class="hover-membesar"
        ><img src="img/tambing.jpg" alt="" class="artikel-img" />
        <p>
          Cara Mengatasi Masalah Kulit Berminyak <br />
          <span class="abu-abu">Healhty</span>
        </p></a
      >
    </div>

    <h2 class="mt-5">Remaja Putri</h2>
    <p class="fs-5">
      Pada remaja putri tentunya ini adalah masa awal mendapatkan menstruasi
      atau datang bulan, kadang rasa nyeri menjadi masalah utama saat datangnya
      masa menstruasi atau datang bulan, dibawah ini artikel yang sangat
      membantu untuk remaja putri yang menghadapi masa menstruasi
    </p>

    <div class="artikel-index mt-3">
      <a href="#" class="hover-membesar"
        ><img src="img/tambing.jpg" alt="" class="artikel-img" />
        <p>
          Penyebab Rasa Sakit Menstruasi atau Datang Bulan <br />
          <span class="abu-abu">Healhty</span>
        </p></a
      >
      <a href="#" class="hover-membesar"
        ><img src="img/tambing.jpg" alt="" class="artikel-img" />
        <p>
          Bahan-Bahan Alami Untuk Mengatasi Nyeri Datang Bulan <br />
          <span class="abu-abu">Healhty</span>
        </p></a
      >
      <a href="#" class="hover-membesar"
        ><img src="img/tambing.jpg" alt="" class="artikel-img" />
        <p>
          Hal Yang Harus Dilakukan Saat Menstruasi atau Datang Bulan <br />
          <span class="abu-abu">Healhty</span>
        </p></a
      >
    </div>

    <br />
    <div class="artikel mt-5">
      <h5>Lihat Artikel Lainnya</h5>
      <a href="#" class="hover-membesar">
        <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
        10 Film terbaik sepanjang masa yang tidak dimakan usia</a
      >
      <a href="#" class="hover-membesar">
        <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
        15 susu formula untuk anak sesuai jenjang usia anak</a
      >
      <a href="#" class="hover-membesar">
        <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
        Aneka resep makanan tradisional yang paling digemari</a
      >
    </div>
  </div>
</div>
