<br />
<a href="#"
  ><button type="button" class="btn btn-outline-secondary mb-5">
    Self-Improvement
  </button></a
>
<div class="top">
  <div class="judul">
    <h1> Hal yang wajib kamu ketahui saat pertama kali masuk kerja </h1>
    <h5>Editor : Noldi Krisandi</h5>
    <h6 id="lastModified"  class="abu-abu"></h6>
    <p class="fw-bold bold abu-abu">
      <span></span> Share.....
      <i class="fas fa-envelope abu-abu"> </i>
      <i class="fas fa-home abu-abu"></i>
      <i class="fab fa-twitter abu-abu"></i>
    </p>
  </div>
  <div class="saran-artikel">
    <h4 class="text-left">Artikel Terbaru</h4>
    <a href="#">
      <img src="img/tambing.jpg" alt="Puisi Natal Terbaru" />
      <p>Yuk lihat keindahnya Puisi Natal Terbaru, Pulau di Jakarta</p></a
    >
    <a href="#">
      <img src="img/reconnect.jpg" alt="Puisi Natal Terbaru" />
      <p>Pantai yang paling banyak dikunjungi di Pulau Bali</p></a
    >
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="Puisi Natal Terbaru" />
      <p>Makanan khas Sulawesi yang paling enak menurut para Traveller</p></a
    >
  </div>
</div>

<main>
  <img src="img/bambahano.jpg" alt="pantai bambahano pantai bambaranu" />

  <p class="mt-3">
    Awal masuk kerja adalah waktu yang krusial untuk kamu dikenal di dalam lingkungan kantor 
  </p>
  <p>
    Dalam meraih kesuksesan sering kali kita terjebak pada pemikiran yang masih keliru, banyak orang berangapan bahwa kecerdasan intelektual adalah kunci utama untuk sukses, padahal ini keliru. Ketika masih sekolah sering kali kita menganggap bahwa teman yang sering juara satu akan menjadi orang yang paling sukses nantinya, ini pemikiran yang sangat berbahaya karena ternyata kecerdasan intelektual hanya menjadi pendukung untuk orang bisa sukses. Di dunia yang sebenarnya orang-orang yang paling sukses bukanlah mereka yang sering juara satu ketika sekolah, melainkan orang yang pintar membangun koneksi dan bagaimana cara berinteraksi dengan banyak orang. Berikut pemahaman dasar 3 kecerdasan tadi menurut para ahli:
  </p>

  <h2 class="fs-5">Kecerdasan Intelektual</h2>
  <p> 
    Kecerdasan intelektual melibatkan kemampuan seseorang untuk memahami, memproses, dan menganalisis informasi secara efektif. Kecerdasan intelektual melibatkan kemampuan seseorang untuk memecahkan masalah, berpikir kritis, dan mempelajari hal baru. Untuk meningkatkan kecerdasan intelektual, penting untuk terus belajar dan belajar lagi, membaca buku, mengikuti kursus, serta terlibat dalam diskusi yang akan memicu kita untuk berfikir kritis mengenai sebuah masalah. Selain itu, kita harus memeliki kemampuan seperti mengatur waktu, memecahkan masalah, dan berkomunikasi efektif demi meningkatkan kinerja intelektual kita.
  </p>
  <p>
    Jika kamu memiliki kecerdasan intelektual yang baik, maka kamu akan dengan mudah menyelesaikan pekerjaanmu dengan cepat dan tepat. Itu sebabnya orang yang memiliki kecerdasan intelektual yang baik akan berprestasi di sekolah apalagi dalam bidang akademik.
  </p>

  <h2 class="fs-5">Kecerdasan Emosional</h2>

  <p>
    Kecerdasan emosional mengacu pada kemampuan seseorang untuk mengenali, memahami, dan mengelola emosi mereka sendiri serta emosi orang lain. Kecerdasan emosional melibatkan kesadaran diri sendiri, pengaturan diri, motivasi, berempati, dan keterampilan di lingkungan sosial. Untuk mengembangkan kecerdasan emosional, penting untuk kamu meningkatkan kesadaran diri sendiri, belajar mengelola stres yang kamu hadapi, mengembangkan empati pada lingkungan sekitar, dan memperkuat hubungan interpersonal. Praktik seperti meditasi dan refleksi diri juga dapat membantu kamu meningkatkan kecerdasan emosional.
  </p>
  <p>
    Jika kamu memiliki kecerdasan emosional yang baik, maka kamu akan mudah memahami perasaan orang lain sehingga banyak orang yang menyukaimu. Ini sangat penting ketika kamu melamar kerja, berinteraksi dengan atasan, maupun dengan teman sekerja. Orang yang memiliki kecerdasan emosional sangat mudah mengendalikan orang lain, sangat penting bagi kamu untuk memiliki kecerdasan emosional yang baik.
  </p>

  <h2 class="fs-5">Kecerdasan Spiritual</h2>

  <p>
    Kecerdasan spiritual berkaitan dengan bagaimana seseorang mencari makna dan tujuan hidup yang mendalam. Ini melibatkan kesadaran tentang diri sendiri dan hubungan dengan dunia di sekitarnya. Kecerdasan spiritual mencakup kebijaksanaan, toleransi, penerimaan, dan berkoneksi dengan sesuatu yang lebih besar dari diri sendiri. Untuk mengasah kecerdasan spiritual kamu, luangkan waktu untuk refleksi, praktiklah kebaikan dan kasih sayang, serta temukan kegiatan yang dapat memberikan perasaan damai dalam hidupmu. Kecerdasan spiritual juga mencangkup bagaimana kamu dapat selalu bersyukur dalam segala hal, selalu merasa bahagia dalam setiap situasi, dan merasa hidup tidak memiliki beban atau stres.
  </p>
  <p>
    Penting bagi kamu menguasai kecerdasan spiritual agar kamu bisa selalu bahagia dalam hidup, sekalipun kamu dalam keadaan yang kurang baik menurut orang lain tetapi jika kamu memiliki kecerdasan spiritual yang baik maka kamu akan tetap bahagia.
  </p>

  <p class="mt-4">
    Sekarang harusnya kamu sudah tahu mengenai hubungan ketiga kecerdasan diatas, tetapi disini saya akan mencoba menjelaskan agar bisa menjadi referensi bagi kamu. 
  </p>
  <p>
    Untuk meraih kesuksesan tentu saja kamu memerlukan kecerdasan emosional yang baik, karena ini adalah penentunya. Mungkin kamu bertanya, harusnya kan orang yang memiliki kecerdasan intelektual yang lebih sukses daripada orang yang memiliki kecerdasan emosional lebih baik. Sangat penting kamu ingat bahwa orang yang memiliki kecerdasan intelektual kebanyakan hanya menjadi karyawan spesialis di perusahaan besar karena mereka sangat pandai menyelesaikan sebuah masalah, mereka hanya ada dibelakang layar. Pendiri sebuah perusahaan adalah mereka yang memiliki kecerdasan emosional yang baik, karena dalam membangun perusahaan diperlukan pendekatan emosional, baik dalam hal mencari patner bisnis, mencari konsumen, maupun mencari karyawan. Bahkan sering kali orang yang memiliki kecerdasan intelektual yang baik tetapi tidak memiliki kecapakan kecerdasan emosional gagal bekerja diperusahan yang baik bahkan menganggur karena kalah saing, hal ini berkaitan dengan rasa percaya diri. Ketika kita tegang dan tidak percaya diri maka kemampuan kita tidak akan keluar dengan maksimal, ini baru contoh kecilnya saja.
  </p>
  <p>
    Di dalam dunia pekerjaan ketika menjadi karyawan, karyawan yang memiliki kecerdasan emosional yang baik akan lebih mudah naik jabatan karena mereka pandai berinteraksi dengan atasan dan rekan kerja, jika kita salah sangka orang yang memiliki kecerdasan emosional yang baik dianggap penjilat karena cepat naik jabatan, padahal sesungguhnya mereka itu pandai berinteraksi dengan atasan sehingga naik nabatan. Naik jabatan bukan soal kamu pintar tetapi soal bagaimana kamu bisa berinteraksi dengan baik. Harusnya disini sudah jelas ya, bahkan kecerdasan emosional lebih penting daripada kecerdasan intelektual.
  </p>
  <p>
    Sekarang kita bahas mengenai kaitannya dengan kecerdasan spiritual. Sebenarnya ini hal yang simpel karena kecerdasan spiritual menjadi patokan apakah kamu bahagia atau tidak, sering kali kita bertemu dengan orang yang sukses tetapi tidak bahagia dengan hidupnya dan terus merasa kurang, itu jelas bahwa orang tersebut tidak memiliki kecerdasan spiritual. Kecerdasan spiritual membuat kita bisa berdamai dengan diri sendiri dan orang lain, membuat kita bisa bahagia dan tetap bersyukur dalam segala hal. Pastikan kamu memiliki kecerdasan emosional yang baik agar hidupmu selalu bahagia apapun kondisinya.
  </p>

  <h3 class="fs-4 mt-4">Referensi:</h3>
  <p class="fs-6">Daniel Goleman. "Emotional Intelligence: Why It Can Matter More Than IQ." Bantam Books, 1995.</p>
  <p class="fs-6">Howard Gardner. "Frames of Mind: The Theory of Multiple Intelligences." Basic Books, 1983.</p>
  <p class="fs-6">Deepak Chopra. "The Seven Spiritual Laws of Success: A Practical Guide to the Fulfillment of Your Dreams." New World Library, 1994.</p>
  <p class="fs-6">Richard J. Haier. "The Neuroscience of Intelligence." Cambridge University Press, 2016.</p>
  <p class="fs-6">Dalai Lama. "The Art of Happiness: A Handbook for Living." Riverhead Books, 1998.</p>


  <p>Dapatkan artikel berkualitas dengan sumber terpercaya lainnya</p>

  <div class="artikel mt-4">
    <h5>Lihat Artikel Lainnya</h5>
    <a href="Ayah-Bunda/tentang-bayi/Gizi-yang-dibutuhkan-bayi-pada-usia-0-bulan-sampai-12-bulan" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Gizi yang dibutuhkan bayi pada usia 0 bulan sampai 12 bulan</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Apa yang harus dilakukan agar bayi tumbuh sehat dan cerdas</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      10 makanan yang membuat anak tumbuh sehat dan cerdas</a
    >
  </div>

</div>
