<br />
<a href="#"
  ><button type="button" class="btn btn-outline-secondary mb-5">
    Tentang Anak
  </button></a
>
<div class="top">
  <div class="judul">
    <h1> Makanan yang bisa membuat kamu menjadi lebih cerdas</h1>
    <h5>Editor : Noldi Krisandi</h5>
    <h6 id="lastModified"  class="abu-abu"></h6>
    <p class="fw-bold bold abu-abu">
      <span></span> Share.....
      <i class="fas fa-envelope abu-abu"> </i>
      <i class="fas fa-home abu-abu"></i>
      <i class="fab fa-twitter abu-abu"></i>
    </p>
  </div>
  <div class="saran-artikel">
    <h4 class="text-left">Artikel Terbaru</h4>
    <a href="#">
      <img src="img/tambing.jpg" alt="Puisi Natal Terbaru" />
      <p>Yuk lihat keindahnya Puisi Natal Terbaru, Pulau di Jakarta</p></a
    >
    <a href="#">
      <img src="img/reconnect.jpg" alt="Puisi Natal Terbaru" />
      <p>Pantai yang paling banyak dikunjungi di Pulau Bali</p></a
    >
    <a href="#">
      <img src="img/airtejunpiala.jpg" alt="Puisi Natal Terbaru" />
      <p>Makanan khas Sulawesi yang paling enak menurut para Traveller</p></a
    >
  </div>
</div>

<main>
  <img src="img/bambahano.jpg" alt="pantai bambahano pantai bambaranu" />

  <p class="mt-3">
    Sebelum lebih jauh kita belajar mengenai makanan apa saja yang bisa membuat kita jadi lebih cerdas, tentunya kita harus tahu terlebih dahulu apa sih kaitannya makanan dengan kecerdasan otak? 
  </p>
  <p>
    Berdasarkan referensi dari buku berjudul "Makanan untuk Pikiran: Meningkatkan Kecerdasan Anda melalui Pola Makan yang Tepat" karya Dr. Ananda, yang merupakan seorang ahli gizi terkemuka, memberikan wawasan mendalam tentang hubungan antara makanan dan fungsi otak. Dalam bukunya itu, Dr. Ananda menyoroti beberapa jenis makanan yang diyakini memiliki dampak positif terhadap kinerja otak. Berikut adalah makanan yang dapat membuat otak lebih cerdas:
  </p>

  <h2 class="fs-5">1. Ikan Berlemak</h2>
  <p> 
    Ikan yang memiliki lemak seperti ikan salmon, ikan sarden, dan ikan tuna kaya akan asam lemak omega-3, terutama DHA (asam dokosaheksaenoat). DHA dikenal memiliki peran penting dalam perkembangan otak dan fungsi kognitif pada manusia. Mengkonsumsi ikan berlemak secara teratur dapat membantu meningkatkan daya ingat dan konsentrasi kita tentunya.
  </p>

  <h2 class="fs-5">2. Buah-buahan Beri</h2>
  <p>
    Anda pasti tidak asing dengan buah beri? Seperti blueberry, strawberry, dan raspberry. Buah-buahan ini mengandung antioksidan kuat yang disebut flavonoid. Flavonoid telah terbukti memiliki efek perlindungan terhadap kerusakan sel-sel otak yang disebabkan oleh stres oksidatif. Mengkonsumsi buah beri secara teratur dapat membantu menjaga kesehatan otak dan meningkatkan fungsi kognitif pada tubuh kita.
  </p>

  <h2 class="fs-5">3. Kacang-kacangan dan Biji-bijian</h2>
  <p>
    Sudah tidak perlu diragukan lagi, jika kacang-kacangan dan biji-bijian mengandung protein yang sangat tinggi, seperti kita ketahui bersama bahwa protein berfungsi untuk mengganti sel-sel yang rusak, jadi ketika sel-sel diotak kita rusak saat kita berfikir secara keras dan dalam durasi yang panjang maka protein ini berfungsi meregenerasi sel-sel otak kita sehingga mengganti sel-sel yang rusak tadi. 
  </p>
  <p>
    Kacang almond, kenari, dan biji bunga matahari sangat direkomendasikan untuk dikonsumsi karena kaya akan vitamin E, dan juga memiliki sejenis antioksidan yang diyakini memiliki efek perlindungan terhadap kesehatan otak kita. Selain itu, kacang-kacangan juga mengandung asam lemak omega-3 dan zat besi, yang sangat penting untuk perkembangan dan fungsi otak kita secara optimal.
  </p>

  <h2 class="fs-5">4. Sayuran Berdaun Hijau Gelap</h2>
  <p>
    Sayuran berdaun hijau gelap seperti bayam, kale, dan kangkung memiliki kandungan yang kaya akan nutrisi penting seperti vitamin K, lutein, dan beta-karoten. Nutrisi-nutrisi ini memiliki efek positif pada kesehatan otak dan fungsi kognitif pada tubuh kita. Mengkonsumsi sayuran berdaun hijau secara teratur dapat membantu menjaga daya ingat dan konsentrasi.
  </p>

  <h2 class="fs-5">5. Dark Chocolate</h2>
  <p>
    Dark chocolate mengandung flavonoid dan kafein, dua senyawa itu dapat merangsang aliran darah ke otak serta meningkatkan fungsi kognitif manusia. Mengkonsumsi dark chocolate dengan kandungan kakao yang tinggi dalam jumlah yang cukup, dapat memberikan manfaat bagi kinerja otak kita.
  </p>

  <p class="mt-4">
    Dengan Mengkonsumsi makanan-makanan diatas ke dalam pola makan kita sehari-hari, kita secara otomatis dapat memberikan dukungan nutrisi yang penting bagi kesehatan otak dan kinerja kognitif kita. Namun, penting untuk diingat bahwa pola makan yang seimbang dan harus didukung dengan gaya hidup yang sehat tubuh kita dalam menjaga kesehatan otak dan kecerdasan kita.
  </p>


  <h3 class="fs-4 mt-4">Referensi:</h3>
  <p class="fs-6">Ananda, Dr. (Tahun Terbit). Makanan untuk Pikiran: Meningkatkan Kecerdasan Anda melalui Pola Makan yang Tepat.</p>


  <div class="artikel mt-4">
    <h5>Lihat Artikel Lainnya</h5>
    <a href="Ayah-Bunda/tentang-bayi/Gizi-yang-dibutuhkan-bayi-pada-usia-0-bulan-sampai-12-bulan" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Gizi yang dibutuhkan bayi pada usia 0 bulan sampai 12 bulan</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      Apa yang harus dilakukan agar bayi tumbuh sehat dan cerdas</a
    >
    <a href="#" class="hover-membesar">
      <img src="img/bambahano.jpg" alt="Drama Natal Terbaru" class="mr-2" />
      10 makanan yang membuat anak tumbuh sehat dan cerdas</a
    >
  </div>

</div>
